body {
  width: 100%;
  font-family:  Roboto,Helvetica Neue,Arial;
  font-size: 1rem!important;
  font-weight: 400!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AdineuePRO",Helvetica,Arial,sans-serif;
  color: #bdb08b;
  
}
h1, h2  {
  color: #d6aa31;
  padding-bottom: 2rem; padding-top: 2rem;
}

hr {
  border: 3px solid  #746b6b;
}

a {
  color: #746b6b!important;
}
.small {
  font-weight: 300;
  font-style: italic;
}

.btn-success {
  background-color: #b19333!important;
  border-radius: 0!important;
  border-color: gainsboro!important;

}

.btn-danger{
  background-color: rgb(235, 83, 18);
  border-color: rgb(255, 77, 0);;
}

.container {
  background-color: ;
  border-radius: 0px;
  border-color: rgb(247, 243, 243);
  padding: 30px ;
}

.container-fluid {
  background-color: #202020;
  padding-right: 5px;
  
  
}

.form-control-lg {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.form-control {
  border-radius: 0;
  background-color: rgb(242, 241, 248);
}

.alert-danger {
  border-radius: 0;
}
.navbar-brand {
  padding-left: 10px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-dark {
  background-color: #323232!important;
}

.btn-lg {
  background-color: #c5b78f;
  border-color: #e7e4db!important;
}

.btn-lg:hover {
  background-color: #E6DDC4;
  
}

.nav-pills .nav-link.active {
  color: #f4f0e5;
  background-color: #d1c294;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: rgba(150, 177, 238, 0.972)!important;
}
.show {
  padding-left: 10px;
}

.navbar-dark .navbar-brand {
  color: rgb(233, 182, 15)!important;
}

.modal-content {
  border-radius: 1rem !important;
}

.card {
  border-width: 0.2rem;
  border-color: rgb(230, 224, 224)!important;
  border-radius: 0rem;
  padding: 2rem;
  background-color: white;
}

.card-body {
  background-color: #c2c2bd51!important;
}

.card-img-top {
  border-radius: 0rem;
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
}


.container {
  background-color: 323232!important;;
  border-radius: 0rem;
  position: relative;
  /*must do for animation*/
  animation-name: myAnimation;
  animation-duration: 3s;
  position: sticky;
  top: 0rem;

}

.jumbotron-fluid {
  background-color: #000814;
  background-image: linear-gradient(#000814, #00509d);
}

.form-control-lg {
  font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
  border-radius: 0 !important;
}

@keyframes  myAnimation {
  0% {background-color: 323232!important;}
  25% {background-color: #5584AC;}
  50% {background-color: #95D1CC;}
  75% {background-color: #F6F2D4;}
  100% {background-color: 323232!important;}
}





