body {
  font-family:  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #E6DDC4;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.btn-success {
  background-color: #867745;
  border-color: #b3ab93;
  
}

.btn-btn-success-btn-lg {
  background-color: #F0E9D2!important;
}

.container {
  background-color: #678983;
  border-radius: 10px;
  border-color: rgb(224, 213, 213);
  padding: 20px;
}

.container-fluid {
  background-color: slategray;
  padding-right: 10px;
}

.navbar-brand {
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: slategray;
}

.bg-dark {
  background-color: #181D31!important;
}