body {
  width: 100%;
  font-family:  Roboto,Helvetica Neue,Arial;
  font-size: 1rem!important;
  font-weight: 400!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #E6DDC4;
  font-weight: 100!important;

  
}
.small {
  font-weight: 300;
  font-style: italic;
}

.btn-success {
  background-color: #b19333!important;
  border-radius: 0!important;

}

.btn-large {
  background-color: #E6DDC4;
  border-color: #e7e4db;
}

.border-dark {
  border-color: rgb(181, 192, 215) !important;

}

.container {
  background-color: ;
  border-radius: 0px;
  border-color: rgb(247, 243, 243);
  padding: 30px ;
}

.container-fluid {
  background-color: #202020;
  padding-right: 5px;
  
  
}



.navbar-brand {
  padding-left: 10px;
}

.bg-dark {
  background-color: #323232!important;
}

.btn-lg {
  background-color: #c5b78f;
  border-color: #e7e4db;
}

.btn-lg:hover {
  background-color: #E6DDC4;
  
}

.nav-pills .nav-link.active {
  color: #f4f0e5;
  background-color: #928663;
}

.show {
  padding-left: 10px;
}

.navbar-dark .navbar-brand {
  color: rgb(233, 182, 15);
}

.modal-content {
  border-radius: 1rem !important;
}

.card {
  border-width: 0.3rem;
  border-color: rgba(128, 128, 128, 0.098)!important;
  border-radius: 0rem;
}

.card-body {
  background-color: #c2c2bd51!important;
}

.card-img-top {
  border-radius: 0rem;
}

.form-control-lg {
  border-radius: 0;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background: rgb(141, 141, 109)!important;
  padding: 0!important;
}

a {
  color: #9e8d5b;
  pointer-events: fill;
}


